* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* @font-face {
    font-family: 'Manrope';
    src: url(/fonts/Manrope-Regular.ttf) format(ttf);
}

body {
    font-family: 'Manrope' sans-serif; 
} */

/* header styling starts here */

header {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 0px 10px 0px ;
}

header .logo h1 {
    font-size: 20px;
    font-weight: bold;
}

nav {
display: flex;
align-items: center;
column-gap: 24px;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

nav ul li {
    list-style:none ;
    font-size: 14px;
    font-weight: 500;
}

nav .right-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-left: 1px solid #939191;
    padding-left: 20px;
}

nav .right-contact .right-contact-text h4 {
    font-size: 14px;
    font-weight: 500;
    
}

nav .right-contact .right-contact-text p {
font-size: 13px;
line-height: 20px;
color: #808080;
}


/* main styling starts here */

main {
    width: 75%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



main .homepage {
    height: 80%;
    width: 100%;
    display: flex;

}

main .homepage .home-left {
width: 50%;
height: 100%;
padding: 32px 60px 32px 0px;
display: flex;
flex-direction: column ;
row-gap: 32px

/* background-color: blue; */
}
main .homepage .home-left h1 {
    font-size: 45px;
    font-weight: bold;
}

main .homepage .home-left button {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 26px 12px 26px;
    background-color: #FF6433;

}

main .homepage .home-left .bottom-element {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

main .homepage .home-left .bottom-element .bottom-text p{
    font-size: 14px;
    color: #808080;
}

main .homepage .home-left .bottom-element .bottom-text #bolder-text {
    font-size: 14px;
    color: black;
    font-weight: 500;

}

main .homepage .home-right {
    width: 50%;
    height: 100%;
    background-image: url(/img/header_image.png);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }

    main .homepage .home-right .service {
        position: absolute;
        left: -20%;
        top: 0;
    }

    main .homepage .home-right .rating {
        position: absolute;
        right: -20%;
        bottom: -10%;
    }

    .service-new {
        width: 180px;
        height: 40px;
        background-color: blueviolet;
        position: absolute;
        left: 0%;
        top: 0;
        border-radius: 50px;
    }

    